.judul-autodebit h1{
	margin-left: 615px;
	margin-top: 2px;
	width: 211px;
	height: 56px;
	font-style: bold;
    font-size: 48px;
    font-family: roboto;
    color: #2C537F;

}
.manual p{
	margin-left: 515px;
	width: 410px;
	height: 39px;
	color: #888888;
	font-size: 14px;
	font-family: roboto;
}
.info-donasi p{
	margin-left: 515px;
	margin-top: 35px;
	width: 405px;
	height: 39px;
	color: #4F4F4F;
	font-size: 14px;
	font-family: roboto;
}
.autodebit .dropdown {
	position: absolute;
	margin-left: -30px;
    margin-top: 10px;  
}
.autodebit input {
	background-color: #F2F2F2;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    color: #4F4F4F;
    border: 1px solid #F2F2F2;
}
.m-pembayaran input {
	border : 1px solid #2CC1D7;
	background-color: #ffffff;
}
.copyrightautodebit{
    margin-left: 590px;
    margin-top: 15px;
    width: 530px;
    height: 18px;
    font-size: 12px;
    font-style: roboto;
    color: #888888;
}