.manual p {
    margin-left: 36%;
    width: 410px;
    height: auto;
    color: #888888;
    font-size: 14px;
    font-family: roboto;
}

.info-donasi p {
    margin-left: 36%;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 410px;
    height: auto;
    color: #4F4F4F;
    font-size: 14px;
    font-family: roboto;
}


