/*registrasi_autodebit*/

body {
    margin: 0;
    background: #fafafa url('assets/img/Background.jpeg');
}

nav {
    background-color: #f7f7f7;
    width: 1366px;
    height: 80px;
    box-shadow: 0px 1px 3px rgba(189, 189, 189, 0.3);
}

nav img {
    width: 207.35px;
    height: 48px;
    margin-top: 0px;
    margin-left: 48px;
}

nav ul img {
    width: 80px;
    height: 80px;
    margin-top: 0px;
}

.donasi img {
    margin-left: -180px;
}

.aktivitas img {
    margin-left: -330px;
}

.akun img {
    margin-left: -237px;
}

.riwayat img {
    margin-left: 160px;
}

.judul-donatur h1 {
    margin-left: 39.5%;
    margin-top: 20px;
    color: #2C537F;
    width: 441px;
    height: 112px;
    font-style: bold;
    font-size: 48px;
    font-family: roboto;
}

.judul-donatur img {
    margin-left: 34%
}

.selamat {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 38%;
    width: 346px;
    height: 47px;
    color: #4f4f4f;
    font-size: 18px;
    font-family: roboto;
    text-align: center;
}

label {
    margin-left: 36%;
    margin-top: 20px;
    width: 172px;
    height: 21px;
    color: #4F4F4F;
    font-size: 18px;
    font-family: roboto;
}

input {
    width: 410px;
    height: 48px;
    margin-left: 36%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form {
    margin-top: 10px;
}

.form input {
    border: 1px solid #2CC1D7;
    background-color: #ffffff;
    border-radius: 5px;
}

.metode input {
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 18px;
    color: #888888;
}

.pemberhentian {
    margin-left: 36%;
    margin-top: 20px;
    width: 410px;
    height: 39px;
    color: #F12A65;
    font-size: 14px;
    font-family: roboto;
}

.syarat {
    margin-left: 36%;
    margin-top: 30px;
    width: 410px;
    height: 39px;
    color: #4F4F4F;
    font-size: 14px;
    font-family: roboto;
}

.button img {
    width: 21px;
    height: 21px;
    position: absolute;
    margin-top: 43px;
    margin-left: -310px;
}

.copyright {
    margin-left: 42%;
    margin-top: 43px;
    width: 530px;
    height: 18px;
    font-size: 12px;
    font-style: roboto;
    color: #888888;
}

.btn-daftar {
    margin-left: 36%;
    margin-top: 0px;
    width: 410px;
    height: 48px;
    background: #2C537F;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}

.button img {
    margin-top: 12px;
}

.nav-teks {
    margin-left: 44px;
}

.metode .dropdown {
    margin-left: -40px;
    margin-top: 20px;
    position: absolute;
}