.logo {
    width: 362.86px;
    height: 84px;
    margin-left: 37%;
    margin-top: 60px;
}

.form {
    margin: auto;
    margin-top: 20px;
}

.password {
    margin-left: 36%;
    margin-top: 20px;
    width: 410px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #2CC1D7;
    font-size: 18px;
    padding-left: 52px;
}

.email {
    margin-left: 36%;
    margin-top: 20px;
    width: 410px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #2CC1D7;
    font-size: 18px;
    padding-left: 52px;
}

.form img {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 36%;
    margin-top: 32px;
    margin-left: 16px;
}

.form .closeeyes {
    margin-left: 367px;
    margin-top: 33px;
}

.lupa-password {
    margin-left: 50%;
    margin-top: 16px;
    color: #888888;
    font-size: 18px;
    font-style: Roboto;
}

.btn-masuklogin {
    margin-left: 36%;
    margin-top: 40px;
    width: 410px;
    height: 48px;
    background: #2C537F;
    border-radius: 10px;
    font-weight: medium;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}

.akun-medsos {
    margin-left: 44%;
    margin-top: 40px;
    color: #888888;
    font-size: 18px;
    font-style: roboto;
    width: 208px;
    height: 21px;
}

.medsos img {
    width: 228px;
    height: 48px;
    margin-left: 43%;
    margin-top: 10px;
}

.daftar-disini {
    margin-left: 42%;
    margin-top: 10px;
    width: 263px;
    height: 21px;
    color: #888888;
    font-size: 18px;
    font-style: Roboto;
}

.daftar-disini b {
    border-bottom: 1px solid #888888;
}

.copyright {
    margin-left: 42.5%;
    margin-top: 55px;
    width: 522px;
    height: 18px;
    font-size: 12px;
    font-style: Roboto;
    color: #888888;
}