.logo {
    width: 362.86px;
    height: 84px;
    margin-left: 534px;
    margin-top: 80px;
    text-align: center;
}

.password {
    margin-left: 515px;
    margin-top: 20px;
    width: 353px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #2CC1D7;
    font-size: 18px;
    padding-left: 52px;
}

.email {
    margin-left: 515px;
    margin-top: 20px;
    width: 353px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #2CC1D7;
    font-size: 18px;
    padding-left: 52px;
}

.form img {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 525px;
    margin-top: 32px;
    margin-left: 16px;
}

.form .closeeyes {
    margin-left: 367px;
    margin-top: 33px;
}

.lupa-password {
    margin-left: 705px;
    margin-top: 5px;
    color: #888888;
    font-size: 18px;
    font-style: Roboto;
}

.btn-masuklogin {
    margin-left: 515px;
    margin-top: 0px;
    width: 410px;
    height: 48px;
    background: #2C537F;
    border-radius: 10px;
    font-weight: medium;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}

.akun-medsos {
    margin-left: 616px;
    margin-top: 40px;
    color: #888888;
    font-size: 18px;
    font-style: roboto;
    width: 208px;
    height: 21px;
}

.medsos img {
    width: 228px;
    height: 48px;
    margin-left: 606px;
    margin-top: 10px;
}

.daftar-disini {
    margin-left: 589px;
    margin-top: 10px;
    width: 263px;
    height: 21px;
    color: #888888;
    font-size: 18px;
    font-style: roboto;
}

.daftar-disini b {
    border-bottom: 1px solid #888888;
}

.copyrightlogin {
    margin-left: 590px;
    margin-top: 60px;
    width: 522px;
    height: 18px;
    font-size: 12px;
    font-style: roboto;
    color: #888888;
}