/*Nav color*/

.navigationheader {
    width: auto;
    height: auto;
    background-color: #F7F7F7;
    color: #ada4a4;
}


/*Nav layouts*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kiri {
    margin-left: 48px;
    width: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanan {
    margin-right: 40px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin-top: 15px;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-teks {
    font-size: 12px;
    line-height: 14px;
}


/*Nav adjustments*/

.nav-bundle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 24px;
}