/*Register1*/
body .register1{
    background-image: url(assets/img/Background.png);
}
.logo {
    width: 362.86px;
    height: 84px;
    margin-left: 534px;
    margin-top:80px;
    text-align:center;
}
.nama {
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left:40px;

}
.password{
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left: 40px;
}
.form .closeeyes{
    margin-left: 360px;
}
.email{
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left: 40px;
}
.btn-daftar{
    margin-left:515px;
    margin-top:30px;
    width: 410px;
    height: 48px;
    background: #2C537F;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;

}
.texttanya {
    margin-left:567px;
    margin-top:30px;
    color:#888888;
    font-size: 18px;
    font-family: bold; 

}
.texttanya b{
    border-bottom: 1px solid #888888; 
}
.masuk{
    font-style: bold;
}
.form img {
    position:absolute;
    margin-top: 30px;
    width: 27px;
    height: 27px;
    left:525px; 
    color:#4F4F4F;
}
.fa-user{
    top:199px;
}
.fa-unlock-alt{
    top:269px;
}
.fa-envelope{
    top:335px;
}
.copyrightr1{
    margin-left: 590px;
    margin-top: 100px;
    font-size: 12px;
    font-family: roboto;
    color: #888888;
    width: 512px;
    height: 18px;
}


/*Register2*/

.text1{
    margin-left: 576px;
    margin-top: 40px;
    color: #4F4F4F;
    font-family: roboto;
    font-size:18px;
    width: 289px;
    height: 21px;
}
.text2{
    margin-left: 606px;
    margin-top: 10px;
    color: #2C537F;
    font-family: roboto;
    font-size:18px;
    width: 228px;
    height: 20px;
}
.text3{
    margin-left: 520px;
    margin-top: 20px;
    color: #4F4F4F;
    font-family: roboto;
    font-size:18px;
    width: 400px;
    height: 21px;
}
.btn-masuk{
    margin-left: 515px;
    margin-top: 130px;
    color: #ffffff;
    width: 410px;
    height: 48px;
    border-radius: 10px;
    background-color:#2C537F;
    border: 1px solid #2C537F;
    font-size: 18px;
    font-style: bold;
    font-weight: 900;
    font-size: 18px;

}
.copyrightr2{
    margin-left: 590px;
    margin-top: 125px;
    font-size: 12px;
    font-family: roboto;
    color: #888888;
    width: 512px;
    height: 18px;
}