@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FAFAFA;
}

.header {
    width: auto;
    height: auto;
    background-color: #F7F7F7;
    color: #BDBDBD;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kiri {
    margin-left: 48px;
    width: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanan {
    margin-right: 40px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin-top: 15px;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-teks {
    font-size: 12px;
    line-height: 14px;
}

.nav-bundle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 24px;
}

.column-texthead {
    height: fit-content;
    width: fit-content;
    margin: 45px auto;
    text-align: center;
}

.textmid {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: #2C537F;
    margin-bottom: 45px;
}

.box-quotes {
    height: fit-content;
    width: fit-content;
    margin: 45px auto;
    text-align: center;
}

.textp-mid {
    width: 522px;
    height: 81px;
    font-size: 18px;
    line-height: 27px;
    color: #888888;
}

.btn-blue {
    height: 48px;
    width: 316px;
    border-radius: 10px;
    background-color: #2CC1D7;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    border: 0;
}

section.content-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.elipseblue-righttop {
    position: absolute;
    right: 0;
    z-index: -9999;
}

section.content-main {
    margin-top: 99px;
    margin-bottom: 65px;
}

.box-text1 {
    width: 400px;
    height: 108px;
    margin-left: 22.5%;
}

.text-head {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: #2C537F;
    margin-bottom: 11px;
}

.text-p {
    font-size: 18px;
    line-height: 27px;
    color: #888888;
}

.bold-red {
    color: #F12A65;
}

.bold-blue {
    color: #2CC1D7;
}

.bold-darkblue {
    color: #2C537F;
}

.box-text2 {
    margin-top: 96px;
    margin-left: 53%;
}

.sumber {
    margin-top: 6px;
    margin-left: 144px;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 27px;
    color: #888888;
}

.box-text3 {
    margin-top: 96px;
    margin-left: 22.5%;
}

.box-ilustrasi {
    width: max-content;
    margin: 138px auto;
}

.text-head-ilustrasi {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: #2C537F;
    margin-bottom: 11px;
    text-align: center;
}

.footer {
    color: #888888;
    text-align: center;
}

.p-footer {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
}

.p-footer2 {
    margin-top: 64px;
    font-size: 12px;
    line-height: 18px;
}


/*Pin Baru*/

section.isi-pinbaru {
    text-align: center;
}

.txt-head {
    margin-top: 32px;
    font-size: 48px;
    line-height: 56px;
    color: #2C537F;
    font-weight: bold;
}

.txt-subhead {
    margin-top: 32px;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.form-pin {
    margin-top: 32px;
    margin-bottom: 32px;
}

.input-pin {
    width: 410px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #2CC1D7;
    box-sizing: border-box;
    backdrop-filter: blur(250px);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    padding-left: 52px;
}

.confirm-pin {
    margin-top: 32px;
    width: 410px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #2CC1D7;
    box-sizing: border-box;
    backdrop-filter: blur(250px);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    padding-left: 52px;
}

.icon-left1 {
    position: absolute;
    left: 492px;
    margin-top: 10px;
}

.icon-left2 {
    position: absolute;
    left: 492px;
    margin-top: 42px;
}

.icon-right1 {
    position: absolute;
    right: 492px;
    margin-top: 10px;
}

.icon-right2 {
    position: absolute;
    right: 492px;
    margin-top: 42px;
}

.btn-darkblue {
    width: 410px;
    height: 48px;
    background: #2C537F;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
}

.footer-copyright {
    position: relative;
    top: 130px;
    font-size: 12px;
    line-height: 18px;
    color: #888888;
}


/*Aktivitas Terakhir*/

.content-aktivitas_terakhir {
    text-align: center;
}

.input-search_aktivitas {
    width: 410px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #2CC1D7;
    box-sizing: border-box;
    backdrop-filter: blur(250px);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #888888;
    padding-left: 16px;
}

.icon-search_aktivitas {
    position: absolute;
    right: 483px;
    top: 210px;
}

.history {
    width: 410px;
    height: 670px;
    background: #FFFFFF;
    border: 1px solid #2CC1D7;
    box-sizing: border-box;
    backdrop-filter: blur(250px);
    border-radius: 5px;
    margin: 24px auto;
    padding-top: 32px;
    padding-left: 21px;
    padding-right: 32px;
}

.content-history {
    display: flex;
}

.icon-content_history {
    width: 11.77px;
    height: 52px;
    margin-right: 13.73px;
    margin-top: 6px;
}

.txt-history {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
    text-align: left;
    margin-bottom: 24px;
}

.footer-aktivitas_terakhir {
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #888888;
    margin-bottom: 28px;
}


/*Aktivitas Terakhir*/

.waktu-riwayat {
    margin: 32px auto;
    display: flex;
    width: 410px;
    height: 48px;
    justify-content: space-between;
}

.bulan-riwayat {
    width: 230px;
    height: 48px;
    background: #F2F2F2;
    box-shadow: 0px 1px 3px rgba(189, 189, 189, 0.6);
    border-radius: 5px;
    text-align: left;
 
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    display: flex;
    justify-content: space-between;
}

.dropdown-bulan {
    width: 13.5px;
    height: 8.34px;
    margin-top: 7px;
}

.tahun-riwayat {
    width: 131px;
    height: 48px;
    background: #F2F2F2;
    box-shadow: 0px 1px 3px rgba(189, 189, 189, 0.6);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;

    text-align: left;
    display: flex;
    justify-content: space-between;
}

.dropdown-tahun {
    width: 13.5px;
    height: 8.34px;
    margin-top: 7px;
}

.drop_down{
    margin-left: 36%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    color: #4F4F4F;
    border: 1px solid #F2F2F2;
    width: 410px;
    height: 48px; 
}

.drop_down_riwayat{
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    color: #4F4F4F;
    border: 1px solid #F2F2F2;
    width: 410px;
    height: 48px; 
}

.drop_down_thnrwyt{
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    color: #4F4F4F;
    border: 1px solid #F2F2F2;
    width: 410px;
    height: 48px; 
}