@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: auto;
    height: auto;
    background-color: #F7F7F7;
    color: #BDBDBD;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kiri{
    margin-left: 48px;
    width: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanan{
    margin-right: 40px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-top: 15px;
}

.nav-icon{
    width: 24px;
    height: 24px;
}

.nav-teks{
    font-size: 12px;
    line-height: 14px;
}

.nav-bundle{
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 24px;
}

.column-texthead{
    height: fit-content;
    width: fit-content;
    margin: 45px auto;
    text-align: center;
}

.textmid{
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: #2C537F;
    margin-bottom: 45px;
}

.box-quotes{
    height: fit-content;
    width: fit-content;
    margin: 45px auto;
    text-align: center;
}

.textp-mid{
    width: 522px;
    height: 81px;
    font-size: 18px;
    line-height: 27px;
    color: #888888;
}

.btn-blue{
    height: 48px;
    width: 316px;
    border-radius: 10px;
    background-color: #2CC1D7;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    border: 0;
}
/*Login*/
.logo {
    width: 362.86px;
    height: 84px;
    margin-left: 534px;
    margin-top:80px;
    text-align:center;
}
.nama {
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left:27px;

}
.password{
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left: 27px;
}
.email{
    margin-left:515px;
    margin-top:20px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    border: 1px solid #2CC1D7;
    font-size:18px;
    padding-left: 27px;
}
.btn-daftar{
    margin-left:515px;
    margin-top:30px;
    width: 410px;
    height: 48px;
    border-radius:10px;
    background-color: #2C537F;
    font-family: roboto;
    color: #ffffff;

}
.texttanya {
    margin-left:587px;
    margin-top:30px;
    color:#888888;
    font-size: 18px;
    font-family: bold;    
}
.masuk{
    font-style: bold;
}
